.mouse-circle-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mouse-circle {
  width: 30px;
  height: 30px;
  background-color: rgb(228, 228, 251);
  border-radius: 50%;
  position: absolute;
  transition: transform 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#minicircle {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 50%;
}
